extends layout

block content
  .chat
    input(
      type='text'
      class='chat-name'
      placeholder='Enter your name'
    )
    .chat-messages
    textarea(
      class='chat-textarea'
      placeholder='Type your message'
    ) 
    .chat-status Status:
      span Idle