extends layout

block content
  .chat
    input(
      type='text'
      class='chat-name'
      placeholder='Enter your name'
    )
    .chat-messages
    textarea(
      class='chat-textarea'
      placeholder='Type your message'
    ) 
    .chat-status Status:
      span Idle

  // Socket.io
  script(src='/socket.io/socket.io.js')
  
  // jQuery
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

  // All socket.io methods  
  script(src='/javascripts/socket.js')